.home {
  background-image: url("../../images/promoGrace.jpg");
  background-size: cover;
  background-position: center;
  height: 630px;
  .opacity {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
  }

  &_text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin: 310px 30px 60px 30px;
    @media (min-width: 750px) {
      font-size: 25px;
      margin: 300px 95px 60px 95px;
    }
    @media (min-width: 950px) {
      padding: 20px;
      font-size: 30px;
      line-height: 48px;
      font-weight: 500;
      margin: 240px auto 40px auto;
    }
  }

  &_link {
    text-decoration: none;
    color: white;
    margin: 20px auto 15px auto;
    font-size: 20px;
  }
}
