.detail {
  height: calc(100vh - 17px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: ‘Nunito’, sans-serif;
  &_description {
    width: 400px;
    height: 250px;
    background: white;
    color: rgb(77, 77, 77);
    padding-top: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    margin: auto;
    @media (min-width: 750px) {
      width: 550px;
      height: 300px;
    }
    @media (min-width: 950px) {
      width: 700px;
      height: 450px;
    }
    &_text {
      padding: 0 50px 0 50px;
      @media (min-width: 750px) {
        padding: 0 50px 0 50px;
      }
      @media (min-width: 950px) {
        padding: 0 50px 0 50px;
      }
    }
  }
  &_link {
    text-decoration: none;
    color: white;
    margin: 10px auto 5px auto;
    font-size: 20px;
  }
}
