@import "layout/header";
@import "layout/home";
@import "layout/sentenceList";
@import "layout/sentenceItem";
@import "layout/sentenceDetail";
body {
  box-sizing: border-box;
  font-family: "Monda", sans-serif;
  color: white;
  background: linear-gradient(21deg, #7db340, #212f34);
}
